.button_1 {
    display: inline-flex;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none !important;
    background-color: var(--color-1);
    color: var(--stable-white-color);
    min-height: 60px;
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.3;
    transition:
        background-color 0.3s,
        border 0.3s;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    &.sp {
        padding-left: 20px;
        padding-right: 20px;
    }

    &.gray {
        background-color: var(--color-9);
    }

    &.small {
        font-weight: 500;
        font-size: 14px;
        padding: 5px 20px;
        min-height: 40px;
        border-radius: 20px;
    }

    &.white {
        background-color: var(--stable-white-color);
        color: var(--color-1);
    }

    .width-size-sm-less({
        min-height: 40px;
        font-size: 13px;
        padding: 5px 20px;
        border-radius: 20px;

        &.sp {
            padding-left: 10px;
            padding-right: 10px;
        }

        &.small {
            padding: 5px 10px;
            min-height: 34px;
        }
    });

    .hover({
        //box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        background-color: var(--color-1-hover);

        &.gray {
            background-color: var(--color-9-hover);
        }

        &.white {
            background-color: var(--stable-white-color);
        }
    });
}
