html {
    --body-bg-color: #fff;
    --bg-color-2: #fff;

    --font-color-1: #000;
    --font-color-1-hover: #000;

    --stable-white-color: #fff;
    --stable-gray-1-color: #aaabae;

    --color-1: #2fbcb5;
    --color-1-hover: #00aaf4;

    --color-stable-red: #e8363d;

    --ui-text-color: #1f222a;
    --ui-border-color: #e0dedd;
    --ui-border-error-color: #e8363d;
    --ui-bg-color: #fff;
    --ui-focus-shadow: rgba(21, 93, 253, 0.5);
    --ui-placeholder-color: #838383;

    --border-color-1: #ebeef5;
}
